.navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
    color: $color-1;
    font-size: 18px;
}

.nav-link:hover{
    color: $accent-color;
}

.navbar-brand__image{
    width: 100%;
    max-width: 90px;
    height: auto;
}