.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__row{
        width: 100%;

    }

    &__images {
        width: 100%;
        height: auto;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        position: relative;
    }

    &__image {
        &--primary {
            z-index: 2;
            border-radius: 20px;
        }

        &--frame {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: 1;
        }
    }

    &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1em;
    }

    &__description{
        width: 100%;
        max-width: 600px;
        // height: auto;
    }

    &__actions{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 2em;
    }
}

@media screen and (max-width:800px) {
    .about__header{
        margin-top: 3em;
    }

    .about__actions{
        margin-bottom: 3em;
    }
}


@media screen and (max-width:600px) {
    .about__header{
        margin-top: 3em;
    }
    .about__actions{
        margin-bottom: 3em;
    }
}