.footer {
    background: rgba(0, 0, 0, 0.9);
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: auto;

    &__logo-img{
        width: 150px;
        height: auto;
        padding: 2em;
    }

    &__social-link i{
        color: #FAFAFA;
        padding: 1em;
    }

    &__text {
        padding: 3em;

        &-paragraph{
            font-size: 1em;
            font-weight: 200;
        }
    }
}