/* Footer. */
.footer {
    background-color: #212121;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: auto;
}

.footer img {
    width: 150px;
    height: auto;
    padding: 2em;
}

.icons-social i {
    color: #FAFAFA;
    padding: 1em;
}

.text-footer {
    padding: 3em;
}

.text-footer p {
    font-size: 1em;
    font-weight: 200;
}

.copyleft__image {
    width: 18px;
    height: auto;
    padding: 0;
}

/* End footer. */