.skills {
    padding: 2rem;
    color: white;
    text-align: center;
    height: 100vh;

    &__content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 1em;
    }

    &__title {
        text-align: start;
    }

    &__description {
        text-align: start;
        font-size: 16px;
    }

    &__technologies {
        background-image: linear-gradient(to right, #210CAE, #4dc9e6);
        width: 100%;
        max-width: 500px;
        height: 500px;
        border-radius: 20px;
        padding: 2rem;
        position: relative;
    }

    &__technology {
        position: absolute;
        width: 80px;
        height: 80px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        &--css{
            color: $color-css;
        }
        &--js{
            color: $color-js;
        }

        &--bootstrap{
            color: $color-bootstrap;   
        }

        &--github{
            color:$color-github;
        }

        &--html{
            color: $color-HTML;
        }
        
        &--sass{
            color:$color-sass;
        }
        
        &--git{
            color:$color-git;
        }

        &--node{
            color:$color-node;
        }
    }
}

@media screen and (max-width:800px) {
    .skills__title{
        margin-top: 3em;
    }

    .skills{
        margin-bottom: 4em;
    }
}


@media screen and (max-width:600px) {
    .skills__title{
        margin-top: 3em;
    }

    .skills{
        margin-bottom: 4em;
    }
}