/* Works. */
.works {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title {
        padding: 0.3em 0;
    }

    &__articles{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        gap: 10em;
    }
}

@media screen and (max-width:800px) {
    .works__title{
        margin-top: 3em;
    }

    .skills__technologies{
        margin-bottom: 3em;
    }
}


@media screen and (max-width:600px) {
    .works__title{
        margin-top: 3em;
    }

    .works{
        margin-bottom: 3em;
    }
}